/*
Theme Name: Virtue Premium Child by Larkscapes 
Version: 1.0
Description: Child theme for Rizo
Author: Gareth @ Larkscapes
Author URI: http://larkscapes.com
Template: virtue_premium
*/

@import url("../virtue_premium/style.css");

/* Admin */
#adminmenu .wp-menu-image img {
	display: block !important;
	margin-left: 9px;
}
